.borito img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.meretek{
    color: black;
    display: inline-block;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px 15px;
    text-align: center;
    margin-bottom: 35px;
}

body{
    background:#8a8c91;
    color:#fff;
    font-family:Arial;
    padding:20px
}

.meretezes{
    margin-top: 50px;
    color: black;
}

.logos{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logos img{
  width: 50px;
  height: 50px;
}

.nevek{
  display: inline-block;
  margin-bottom: 40px;
}

.nevek p{
  margin-left: 0;
  color: black;
}
